/* .                             */
/* --------- Slider ------------ */
/* .                             */
.slider {
  -webkit-appearance: none;
  appearance: none;
  border: solid 1px var(--color-neutral-400);
  border-radius: var(--border-radius);
  width: 100px;
  height: 10px;
  background: var(--color-neutral-300);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--color-blue-link);
  border: solid 1px var(--color-neutral-400);
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--color-blue-link);
  border: solid 1px var(--color-neutral-400);
  cursor: pointer;
  border-radius: 50%;
}
