/* .                             */
/* ------------- base ---------- */
/* .                             */
body {
  background-color: var(--color-neutral-700);
  color: var(--color-neutral-500);
  font-family: var(--font-family-arial);
  font-size: 12px;
}

p {
  line-height: 1.5;
}

input[type="checkbox" i] {
  margin: 3px 3px 3px 4px;
}

.container {
  margin: var(--default-spacing) auto;
  width: var(--simulator-width);
}
