
/* .                             */
/* --------- Icons ------------- */
/* .                             */
.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: var(--icon-size);
  width: var(--icon-size);
}

.icon--direction {
  background-position-x: 23px;
  background-position-y: 2px;
  background-size: 60px;
  height: 33px;
  margin-top: var(--default-half-spacing);
  width: 75px;
}

.icon--barrier,
.icon--station-1,
.icon--station-2,
.icon--station-3,
.icon--passenger-platform,
.icon--crossing-signal,
.icon--trolley {
  position: absolute;
  top: var(--rail-pos-top);
}

.icon--barrier {
  background-image: url(../images/icons/barrier.svg);
}

.icon--station-1 {
  background-image: url(../images/icons/station-1.svg);
}

.icon--station-2 {
  background-image: url(../images/icons/station-2.svg);
}

.icon--station-3 {
  background-image: url(../images/icons/station-3.svg);
}

.icon--trolley {
  background-image: url(../images/icons/trolley.svg);
  position: absolute;
  top: -28px;
}

.icon--passenger-platform {
  background-image: url(../images/icons/passenger-platform.svg);
}

.icon--crossing-signal {
  background-image: url(../images/icons/crossing-signal.svg);
}

.icon--signpost-1 {
  background-image: url(../images/icons/signpost-1.svg);
}

.icon--left-arrow {
  background-image: url(../images/icons/arrow-left-circle.svg);
}

.icon--right-arrow {
  background-image: url(../images/icons/arrow-right-circle.svg);
}

.icon--btn-power {
  background-image: url(../images/icons/btn-power.svg);
}

.icon--btn-halt {
  background-image: url(../images/icons/btn-halt.svg);
}

.icon--btn-pause {
  background-image: url(../images/icons/btn-pause.svg);
}

.icon--btn-repeat {
  background-image: url(../images/icons/btn-repeat.svg);
}

.icon--btn-reverse {
  background-image: url(../images/icons/btn-reverse.svg);
}

.icon--rotatable {
  transition: transform 0.3s ease;
}

.icon--rotatable.rotate {
  transform: rotate(180deg);
}
