/* .                             */
/* ---- Layout Simulation ------ */
/* .                             */
.simulator__rail {
  background-color: var(--rail-color);
  border-radius: calc(var(--rail-height) / 2);
  height: var(--rail-height);
  left: calc((var(--simulator-width) - var(--rail-length)) / 2);
  position: absolute;
  top: var(--rail-pos-top);
  width: var(--rail-length);
}

.simulator__vehicle {
  --indicator-size: var(--rail-height);
  --indicator-halved: calc(var(--indicator-size) / 2);
}

.simulator__vehicle {
  /* left: calc(0.5 * var(--icon-size)); */
  transform: translateX(calc(-0.5 * var(--icon-size)));
}

/* triangle indicator (centered 0, 0) */
.simulator__vehicle::before {
  border-top: var(--indicator-size) solid var(--color-orange-300);
  border-left: var(--indicator-halved) solid transparent;
  border-right: var(--indicator-halved) solid transparent;
  bottom: calc(-1 * var(--indicator-halved));
  content: "";
  left: 50%;
  margin-left: calc(-1 * var(--indicator-halved));
  position: absolute;
}

/* two lines marking front/rear of vehicle */
.simulator__vehicle::after {
  border-color: var(--color-neutral-300);
  border-style: solid;
  border-width: 0 1px;
  content: "";
  height: calc(2 * var(--sensor-size));
  left: 0;
  position: absolute;
  top: 35px; /* calc(1 + var(--icon-size)); */
  width: var(--icon-size);
}
