:root {
  /* .                             */
  /* --------- Primitives -------- */
  /* .                             */
  /* Oranges */
  --color-orange-100:                 #fef7f1;
  --color-orange-200:                 #ffb97e;
  --color-orange-300:                 #ff9640;
  --color-orange-400:                 #e36600;
  --color-orange-500:                 #b65200;
  /* Blues  */
  --color-blue-100:                   #ebf1f9;
  --color-blue-200:                   #d6e4f3;
  --color-blue-300:                   #6598d0;
  --color-blue-400:                   #3478c1;
  --color-blue-500:                   #285b93;
  --color-blue-600:                   #2367b2;
  /* Grayscale/Neutrals */
  --color-neutral-000:                #fff;
  --color-neutral-100:                #f2f3f3;
  --color-neutral-200:                #cccfd1;
  --color-neutral-300:                #999ea3;
  --color-neutral-400:                #626b72;
  --color-neutral-500:                #333e48;
  --color-neutral-600:                #252d34;
  --color-neutral-700:                #171c20;
  --color-neutral-800:                #000;
  /* Interactive */
  --color-blue-link:                  #3185e0;
  --color-secondary-link:             var(--color-neutral-200);
  /* Status System */
  --color-status-info:                #3478c1;
  --color-status-success:             #17bc16;
  --color-status-alert:               #ff5853;
  --color-status-warning:             #ffb600;
  --color-status-disabled:            #b3b3b3;
  --color-status-available-seat:      #4aa7f6;
  --color-status-accessibility-seat:  #0059ff;
  /* .                             */
  /* --------- Semantic ---------- */
  /* .                             */
  --icon-size:             32px;
  /* . */
  --default-spacing:        16px;
  --default-half-spacing:  calc(var(--default-spacing) / 2);
  /* . */
  --rail-pos-top:          calc(3* var(--icon-size));
  --rail-height:             6px;
  --rail-length:           calc(800px + var(--icon-size));
  --rail-color:            var(--color-neutral-500);
  /* . */
  --layout-height:         calc(4 * var(--icon-size));
  --layout-width:          calc(var(--rail-length) + 2 * (var(--icon-size) + var(--default-spacing) + var(--default-half-spacing)));
  --laybout-background-color: var(--color-neutral-200);
  /* . */
  --border-radius:           4px;
  --border-color:          var(--color-neutral-400);
  /* . */
  --sensor-size:            10px;
}
